@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100vh;
}
:root {
  --vh: 100%;
}

#__next {
  height: 100%;
  min-height: 100%;
}

.bubble-tail {
  border-style: solid;
  border-width: 0 20px 15px 5px;
  border-color: transparent rgb(100 116 139 / var(--tw-bg-opacity)) transparent transparent;
}

.hover-shadow:hover {
  filter: drop-shadow(0 4px 6px rgba(185, 171, 171, 0.5));
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

footer {
  border-top-left-radius: 20px; /* 위쪽 좌측 모서리 라운드 처리 */
  border-top-right-radius: 20px; /* 위쪽 우측 모서리 라운드 처리 */
  box-shadow: 0 -2px 3px rgba(155, 110, 250, 0.2); /* Drop Shadow 스타일 적용 */
}

.shadow-custom {
  box-shadow: 0 -2px 3px rgba(155, 110, 250, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

button:focus {
  outline: none;
}

button:last-of-type {
  right: 0;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 10; /* 필요에 따라 다른 요소들보다 상위에 위치하도록 z-index 설정 */
  background: white; /* 스크롤 시 내용이 헤더 아래로 가려지도록 배경색 지정 */
}

.textarea-sticky {
  position: sticky;
  bottom: 10px;
  z-index: 10; /* 필요에 따라 다른 요소들보다 상위에 위치하도록 z-index 설정 */
}

@font-face {
  font-family: "SUITE";
  font-weight: 200;
  src: url("/fonts/SUITE-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "SUITE-ExtraBold";
  font-weight: ExtraBold;
  src: url("/fonts/SUITE-ExtraBold.ttf") format("opentype");
}
