@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-y: auto;
}

.bubble-tail {
  border-style: solid;
  border-width: 0 20px 15px 5px;
  border-color: transparent rgb(100 116 139 / var(--tw-bg-opacity)) transparent transparent;
}

.hover-shadow:hover {
  filter: drop-shadow(0 4px 6px rgba(185, 171, 171, 0.5));
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

button:focus {
  outline: none;
}

button:last-of-type {
  right: 0;
}

.custom-dot-list-style {
  position: absolute;
  bottom: 90%; /* 이 값을 조절하여 원하는 위치로 이동시키면 됩니다. */
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.custom-dot-list-style li {
  display: inline-block;
  margin: 0 5px; /* 원하는 마진 값을 설정하여 간격 조절 가능합니다. */
}

.custom-dot-list-style .active {
  color: #333; /* 활성화된 Dot의 색상입니다. 원하는 색상으로 변경 가능합니다. */
}

.custom-dot-list-style .inactive {
  color: #ddd; /* 비활성화된 Dot의 색상입니다. 원하는 색상으로 변경 가능합니다. */
}
